<?xml version="1.0"?>
<launch>
  
  <!-- startup simulate world with the robot and workpiece -->
  <include file="$(find m_mh24)/launch/m_mh24_gazebo_with_workpiece.launch" />

  <!-- load moveit controller and ros controllers -->
  <include file="$(find m_mh24_moveit_config)/launch/m_mh24_moveit_controller_manager.launch" />

  <!-- launch moveit -->
  <include file="$(find m_mh24_moveit_config)/launch/moveit_planning_execution.launch"/>

  <!-- launch rviz -->
  <include file="$(find m_mh24_moveit_config)/launch/moveit_rviz.launch">
    <param name="config" value="true"/>
  </include>

</launch>
